body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 6px 0;
    font-family: "Tinos", serif;
    line-height: 1.5;
}


p {
    margin: 12px 0;
}

pre {
    color: #2d3b45;
    display: block;
    padding: 9px;
    margin: 0 0 12px;
    line-height: 1.2;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
}

h1 {
    color: #230101;
}

h2 {
    color: #030138;
}

h3 {
    color: #040153;
}

hr {
    margin: 3rem 0;
    border: 2px dashed #013d13;
}

.answer {
    font-weight: 500;
    font-style: italic;
}