body {
  background-color: #fff;
  color: 000;
  font-size: 22px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
  padding: 0.25em;
  color: #0076b6;
}

img {
  max-width: 100%;
}