:root {
  --primary-color: rgb(10, 94, 102);
  --secondary-color: #fff;
  --text-color: #1e1a1a;
  --nav-background: #303457;

  --overlay-bg-color: rgba(56, 59, 103, 0.6);
  --article-bg-color: rgba(255, 255, 255, .35);
  --text-shadow-color: #000;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

hr {
  border: none;
  height: 4px;
  background-color: var(--primary-color);
  margin: 5rem 0;
}

.site-header,
main,
footer {
  max-width: 1024px;
  margin: 0 auto;
}

.site-header {
  background-color: var(--nav-background);
  display: grid;
  grid-template-columns: 200px auto;
}

.site-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));

}

.site-nav a {
  padding: 1em;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

.site-nav a::before {
  content: unset;
}

.site-nav a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/****************************************************
*
*   Absolute styling 
*
****************************************************/
.abs-hero {
  position: relative;
  margin: 2rem 0
}

.abs-heading1 {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--overlay-bg-color);
  text-shadow: -1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color);
}

.abs-article {
  background-color: var(--article-bg-color);
  position: absolute;
  top: 6rem;
  left: 6rem;
  right: 6rem;
}

.abs-article img {
  float: right;
  margin: 2rem;
  width: 15rem;
}

.abs-article p {
  color: var(--text-color);
  font-size: x-large;
  text-align: center;
}

/****************************************************
*
*   grid styling 
*
****************************************************/

.grid-hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-hero img {
  grid-row: 1/6;
  grid-column: 1/-1;
  width: 100%;
  height: auto;
}

.grid-heading1 {
  grid-row: 1;
  grid-column: 1/-1;
  text-align: center;
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--overlay-bg-color);
  text-shadow: -1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color);
}

.grid-article {
  grid-column: 2/12;
  grid-row: 2/5;
  background-color: var(--article-bg-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
}

.grid-article img {
  grid-column: 9/13;

}

.grid-article p {
  grid-column: 1/9;
  color: var(--text-color);
  font-size: x-large;
  text-align: center;
}