/* ==========================================
   buttons.css


   ========================================== */


main,
header,
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3rem;
}

main {

    /* light teal */
    background: #9dcff0;

    /*TEAL*/
    /*background: #00B3B4;*/

    font-size: 1.25rem;
    line-height: 1.8rem;
    color: #323b40;
    padding: 3rem;
}

.content {
    border: 2px solid #aaaaaa;
    background-color: #cacacf;
    padding: 1em;
    box-shadow: 5px 5px 10px #3e3e3e;
    margin: 1em 0;
}

.content2 {
    border: 2px solid #aaaaaa;
    background-color: #dbdbdd;
    padding: 1em;
    box-shadow: 5px 5px 10px #3e3e3e;
    margin: 1em 0;
}

.content3 {
    border: 2px solid #aaaaaa;
    background-color: #cacacf;
    padding: 1em;
    box-shadow: 5px 5px 10px #3e3e3e;
    margin: 1em 0;
}


button {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    margin: 0 15px 0 0;
}


/* =====================
   FACEBOOK STYLE BUTTON
   ===================== */

.facebook-style-btn {
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.facebook-style-dark {
    -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    box-shadow: inset 0px 1px 0px 0px #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-shadow: 0 1px 0px #3359a5;
}

.facebook-style-dark:hover {
    background: #2b54a7;
}

.facebook-style-dark:active {
    background: #1d4698;
    border-color: #1d4698;
}


.facebook-style-light {
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    color: #4b4f56;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.facebook-style-light:hover {
    background: #e9ebee;
}

.facebook-style-light:active {
    background: #d8dade;
    border-color: #d8dade;
}


/* =====================
   3D BUTTON 1
   ===================== */

.btn-3d-1 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.btn-3d-1:hover {
    background: hsl(16, 100%, 45%);
}

.btn-3d-1:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn-3d-1::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* border width needs to be size of the element's box shadow */
    border: solid 6px transparent;

    /* border width needs to be size of the element's box shadow */
    border-right: solid 6px hsl(16, 100%, 30%);

    /* no width for left, makes measurements easier */
    border-left-width: 0px;

    background: none;
    top: 0px;

    /* needs to be the same size as border width */
    left: -6px;
}

.btn-3d-1::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    background: none;
    right: 0;
    bottom: -6px;
}

.btn-3d-1:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0px;
    left: -3px;
}

.btn-3d-1:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    bottom: -3px;
}


/* =====================
   3D BUTTON 2
   ===================== */

.btn-3d-2 {
    position: relative;

    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* Standard syntax */

    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    color: white;
    border: solid 1px hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;

    outline: none;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
        0 2px 0 hsl(54, 100%, 20%),
        0 3px 0 hsl(54, 100%, 18%),
        0 4px 0 hsl(54, 100%, 16%),
        0 5px 0 hsl(54, 100%, 14%),
        0 6px 0 hsl(54, 100%, 12%),
        0 7px 0 hsl(54, 100%, 10%),
        0 8px 0 hsl(54, 100%, 8%),
        0 9px 0 hsl(54, 100%, 6%);
}

.btn-3d-2:hover {
    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* Standard syntax */
}

.btn-3d-2:active {
    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* Standard syntax */

    top: 2px;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
        0 2px 0 hsl(54, 100%, 20%),
        0 3px 0 hsl(54, 100%, 18%),
        0 4px 0 hsl(54, 100%, 16%),
        0 5px 0 hsl(54, 100%, 14%),
        0 6px 0 hsl(54, 100%, 12%),
        0 7px 0 hsl(54, 100%, 10%);
}


/* =========================
   GRADIENT BORDERED BUTTONS
   ========================= */

.gradient-button-1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 10px solid transparent;
    border-image: linear-gradient(to top right, orangered, yellow);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gradient-button-1:hover {
    background-size: 100%;
    background-image: linear-gradient(to top right, orangered, yellow);
    color: white;
}


.gradient-button-2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, orangered, transparent);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gradient-button-2:hover {
    background-size: 100%;
    background-image: linear-gradient(to right, orangered, transparent);
    border-right-style: none;
    color: white;
}



/* =========================
   ANIMATED BUTTONS
   ========================= */

.animated-button-1 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;

    background-image: url(../img/pattern.png);
    background-size: 40px 40px;
    border: 1px solid #555;
    color: white;
    transition: all 0.3s ease;
}

.animated-button-1:hover {
    -webkit-animation: loading-button-animation 2s linear infinite;
    animation: loading-button-animation 2s linear infinite;
}


.animated-button-2 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;
    background-size: 20px 20px;
    border: 1px solid #555;
    color: white;
    transition: all 0.3s ease;
}

.animated-button-2:after {
    position: absolute;
    top: 50%;
    right: 0.6em;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: "»";
    opacity: 0;
    transition: all 0.3s ease;
}

.animated-button-2:hover {
    padding: 20px 60px 20px 20px;
}

.animated-button-2:hover:after {
    right: 1.2em;
    opacity: 1;
}





/* =========================
   TOGGLE SWITCH UI BUTTONS
   ========================= */

.toggle-1 {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}

.toggle-1__input {
    display: none;
}

.toggle-1__button {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #f2395a;
    border: 1px solid #f2395a;
    color: #ffffff;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-1__button:before {
    position: absolute;
    top: 6px;
    left: 40px;
    right: auto;
    display: inline-block;
    height: 20px;
    padding: 0 3px;
    background-color: #ffffff;
    color: #f2395a;
    content: "off";
    transition: all 0.3s ease;
}

.toggle-1__input:checked+.toggle-1__button {
    background-color: #00b3b4;
    border: 1px solid #00b3b4;
}

.toggle-1__input:checked+.toggle-1__button:before {
    left: 5px;
    content: "on";
    color: #00b3b4;
}


.toggle-2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}

.toggle-2__input {
    display: none;
}

.toggle-2__button {
    position: relative;
    display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #aaaaaa;
    border: 1px solid #cccccc;
    padding: 5px 10px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-2__button:before {
    position: absolute;
    top: 10px;
    left: 10px;
    right: auto;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #cccccc;
    content: "";
    transition: all 0.3s ease;
}

.toggle-2__input:checked+.toggle-2__button {
    background-color: #00b3b4;
    border-color: #00b3b4;
    color: #ffffff;
}

.toggle-2__input:checked+.toggle-2__button:before {
    background-color: #ffffff;
}


/* ==========================================

   This section of code is for the button styling
   using the <p> tag and not the <button> tag.

   ========================================== */

p {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    margin: 20px;
    width: fit-content;
    /* display: inline-block; */

}


/* =====================
   FACEBOOK STYLE BUTTON
   ===================== */

.p-facebook-style-btn {
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.p-facebook-style-dark {
    -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    box-shadow: inset 0px 1px 0px 0px #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-shadow: 0 1px 0px #3359a5;
}

.p-facebook-style-dark:hover {
    background: #2b54a7;
}

.p-facebook-style-dark:active {
    background: #1d4698;
    border-color: #1d4698;
}


.p-facebook-style-light {
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    color: #4b4f56;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.p-facebook-style-light:hover {
    background: #e9ebee;
}

.p-facebook-style-light:active {
    background: #d8dade;
    border-color: #d8dade;
}

/* ========================
   MAILCHIMP STYLE BUTTON
   ======================= */
.p-ctaPrimary {
    --animation-depth: 2;
    --cta-background-color: #ffe01b;
    --cta-stroke-color: #241c15;
    --cta-stroke-width: 0.0625rem;
    --cta-depth-color: #241c15;
    --cta-text-color: #241c15;
    --cta-text-size: var(--copy-info-size);
    --cta-line-height: 1.5;
    --cta-text-weight: 500;
    /* --cta-border-radius: 2em; */
    /* --link-color: #241c15; */
    /* --link-color-hovered: #241c15; */
    /* --link-background-hovered: rgba(255, 224, 27, 0.65); */
    /* --selection-background-color: rgba(255, 224, 27, 0.15); */
    /* --spacing-1: 0.25rem; */
    --spacing-2: 0.5rem;
    /* --spacing-3: 1rem; */
    /* --spacing-4: 1.5rem; */
    /* --spacing-5: 2.5rem; */
    /* --spacing-6: 4rem; */
    /* --spacing-7: 5rem; */
    /* --spacing-8: 6rem; */
    cursor: pointer;
    /* --horizontal-padding: 1.5rem; */
    /* --vertical-padding: 0.75rem; */
    text-align: center;
    font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    color: var(--cta-text-color);
    background-color: var(--cta-background-color);
    font-size: var(--cta-text-size);
    font-weight: var(--cta-text-weight);
    line-height: var(--cta-line-height);
    border-radius: 50%;
    margin: 0 var(--spacing-2);
    padding: .5em 1em;
}

.p-cta-background {
    border: 1px #000 solid;
}

.p-ctaPrimary:hover {
    --animation-depth: 5px;
    bottom: calc(1*var(--animation-depth, .375em)*1.1);
    box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--cta-stroke-color),
        0 var(--animation-depth, .375em) 0 0 var(--cta-depth-color);
}



/* =====================
   3D BUTTON 1
   ===================== */

.p-btn-3d-1 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.p-btn-3d-1:hover {
    background: hsl(16, 100%, 45%);
}

.p-btn-3d-1:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.p-btn-3d-1::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* border width needs to be size of the element's box shadow */
    border: solid 6px transparent;

    /* border width needs to be size of the element's box shadow */
    border-right: solid 6px hsl(16, 100%, 30%);

    /* no width for left, makes measurements easier */
    border-left-width: 0px;

    background: none;
    top: 0px;

    /* needs to be the same size as border width */
    left: -6px;
}

.p-btn-3d-1::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    background: none;
    right: 0;
    bottom: -6px;
}

.p-btn-3d-1:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0px;
    left: -3px;
}

.p-btn-3d-1:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    bottom: -3px;
}


/* =====================
   3D BUTTON 2
   ===================== */
.section-p {
    min-height: 120px;
    position: relative
}

.p-btn-3d-2 {
    position: relative;

    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* Standard syntax */

    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    color: white;
    border: solid 1px hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;

    outline: none;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
        0 2px 0 hsl(54, 100%, 20%),
        0 3px 0 hsl(54, 100%, 18%),
        0 4px 0 hsl(54, 100%, 16%),
        0 5px 0 hsl(54, 100%, 14%),
        0 6px 0 hsl(54, 100%, 12%),
        0 7px 0 hsl(54, 100%, 10%),
        0 8px 0 hsl(54, 100%, 8%),
        0 9px 0 hsl(54, 100%, 6%);
    display: flex;
    justify-content: center;
}

.p-btn-3d-2 span {
    align-self: center;
}

.p-btn-3d-2:hover {
    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* Standard syntax */
}

.p-btn-3d-2:active {
    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* Standard syntax */

    top: 2px;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
        0 2px 0 hsl(54, 100%, 20%),
        0 3px 0 hsl(54, 100%, 18%),
        0 4px 0 hsl(54, 100%, 16%),
        0 5px 0 hsl(54, 100%, 14%),
        0 6px 0 hsl(54, 100%, 12%),
        0 7px 0 hsl(54, 100%, 10%);
}


/* =========================
   GRADIENT BORDERED BUTTONS
   ========================= */

.p-gradient-button-1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 10px solid transparent;
    border-image: linear-gradient(to top right, orangered, yellow);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.p-gradient-button-1:hover {
    background-size: 100%;
    background-image: linear-gradient(to top right, orangered, yellow);
    color: white;
}


.p-gradient-button-2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, orangered, transparent);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.p-gradient-button-2:hover {
    background-size: 100%;
    background-image: linear-gradient(to right, orangered, transparent);
    border-right-style: none;
    color: white;
}



/* =========================
   ANIMATED BUTTONS
   ========================= */

.p-animated-button-1 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;

    background-image: url(../img/pattern.png);
    background-size: 40px 40px;
    border: 1px solid #555;
    color: white;
    transition: all 0.3s ease;
}

.p-animated-button-1:hover {
    -webkit-animation: loading-button-animation 2s linear infinite;
    animation: loading-button-animation 2s linear infinite;
}


.p-animated-button-2 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;
    background-size: 20px 20px;
    border: 1px solid #555;
    color: white;
    transition: all 0.3s ease;
}

.p-animated-button-2:after {
    position: absolute;
    top: 50%;
    right: 0.6em;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: "»";
    opacity: 0;
    transition: all 0.3s ease;
}

.p-animated-button-2:hover {
    padding: 20px 60px 20px 20px;
}

.p-animated-button-2:hover:after {
    right: 1.2em;
    opacity: 1;
}



/* ==========================================

   This section of code is for the button styling
   using the <a> tag and not the <button> tag.

   ========================================== */

a {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    margin: 20px;
    width: fit-content;
    /* display: inline-block; */

}


/* =====================
   FACEBOOK STYLE BUTTON
   ===================== */

.a-facebook-style-btn {
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.a-facebook-style-dark {
    -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    box-shadow: inset 0px 1px 0px 0px #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-shadow: 0 1px 0px #3359a5;
}

.a-facebook-style-dark:hover {
    background: #2b54a7;
}

.a-facebook-style-dark:active {
    background: #1d4698;
    border-color: #1d4698;
}


.a-facebook-style-light {
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    color: #4b4f56;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.a-facebook-style-light:hover {
    background: #e9ebee;
}

.a-facebook-style-light:active {
    background: #d8dade;
    border-color: #d8dade;
}


/* =====================
   3D BUTTON 1
   ===================== */

.a-btn-3d-1 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.a-btn-3d-1:hover {
    background: hsl(16, 100%, 45%);
}

.a-btn-3d-1:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.a-btn-3d-1::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* border width needs to be size of the element's box shadow */
    border: solid 6px transparent;

    /* border width needs to be size of the element's box shadow */
    border-right: solid 6px hsl(16, 100%, 30%);

    /* no width for left, makes measurements easier */
    border-left-width: 0px;

    background: none;
    top: 0px;

    /* needs to be the same size as border width */
    left: -6px;
}

.a-btn-3d-1::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    background: none;
    right: 0;
    bottom: -6px;
}

.a-btn-3d-1:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0px;
    left: -3px;
}

.a-btn-3d-1:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    bottom: -3px;
}


/* =====================
   3D BUTTON 2
   ===================== */
.section-p {
    min-height: 120px;
    position: relative
}

.a-btn-3d-2 {
    position: relative;

    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    /* Standard syntax */

    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    color: white;
    border: solid 1px hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;

    outline: none;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
        0 2px 0 hsl(54, 100%, 20%),
        0 3px 0 hsl(54, 100%, 18%),
        0 4px 0 hsl(54, 100%, 16%),
        0 5px 0 hsl(54, 100%, 14%),
        0 6px 0 hsl(54, 100%, 12%),
        0 7px 0 hsl(54, 100%, 10%),
        0 8px 0 hsl(54, 100%, 8%),
        0 9px 0 hsl(54, 100%, 6%);
    display: flex;
    justify-content: center;
}

.a-btn-3d-2 span {
    align-self: center;
    text-align: center;
}

.a-btn-3d-2:hover {
    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    /* Standard syntax */
}

.a-btn-3d-2:active {
    background: #ecd300;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    /* Standard syntax */

    top: 2px;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
        0 2px 0 hsl(54, 100%, 20%),
        0 3px 0 hsl(54, 100%, 18%),
        0 4px 0 hsl(54, 100%, 16%),
        0 5px 0 hsl(54, 100%, 14%),
        0 6px 0 hsl(54, 100%, 12%),
        0 7px 0 hsl(54, 100%, 10%);
}


/* =========================
   GRADIENT BORDERED BUTTONS
   ========================= */

.a-gradient-button-1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 10px solid transparent;
    border-image: linear-gradient(to top right, orangered, yellow);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.a-gradient-button-1:hover {
    background-size: 100%;
    background-image: linear-gradient(to top right, orangered, yellow);
    color: white;
}


.a-gradient-button-2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #e7eef1;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, orangered, transparent);
    border-image-slice: 1;
    color: orangered;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.a-gradient-button-2:hover {
    background-size: 100%;
    background-image: linear-gradient(to right, orangered, transparent);
    border-right-style: none;
    color: white;
}



/* =========================
   ANIMATED BUTTONS
   ========================= */

.a-animated-button-1 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;

    background-image: url(../img/pattern.png);
    background-size: 40px 40px;
    border: 1px solid #555;
    color: white;
    transition: all 0.3s ease;
}

.a-animated-button-1:hover {
    -webkit-animation: loading-button-animation 2s linear infinite;
    animation: loading-button-animation 2s linear infinite;
}


.a-animated-button-2 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;
    background-size: 20px 20px;
    border: 1px solid #555;
    color: white;
    transition: all 0.3s ease;
}

.a-animated-button-2:after {
    position: absolute;
    top: 50%;
    right: 0.6em;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: "»";
    opacity: 0;
    transition: all 0.3s ease;
}

.a-animated-button-2:hover {
    padding: 20px 60px 20px 20px;
}

.a-animated-button-2:hover:after {
    right: 1.2em;
    opacity: 1;
}



@-webkit-keyframes loading-button-animation {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

@keyframes loading-button-animation {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}