*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
}

img {
    width: 100%;
}

.texxt {
    padding: 20px;
}

/******************************************
*
*            Flip Box Styling Begin
*
******************************************/
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box,
.flip-box-1 {
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-inner-1 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-1:hover .flip-box-inner-1 {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-front-1,
.flip-box-back,
.flip-box-back-1 {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front,
.flip-box-front-1 {
    background-color: #0e6d9f;
    color: #f1faee;
    text-align: center;
}

/* Style the back side */
.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.flip-box-back-1 {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
}

.card {
    margin: 100px 0;
}

.card-height {
    background-color: #0e6d9f;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1em;
    min-height: 350px;
}

.card-height figcaption {
    color: #fff;
}

/******************************************
*
*            Flip Box Styling End
*
******************************************/