header,
main {
  max-width: 1000px;
  margin: 0 auto;
}


.class1,
.class2,
.class3 {
  width: 400px;
  height: 400px;
  margin: 3em;
  position: relative
}

.class1 {
  background-color: #0a5e66;
}

.class2 {
  background-color: #3f3d3e;
}

.class3 {
  background-color: #c97522;
}

.class1 p,
.class2 p,
.class3 p {
  position: absolute;
  left: 50%;
  top: 11.35rem;
  transform: translateX(-50%);
  font-size: 2em;
  color: #eee;
  margin: 0;
  padding: 0;
}

.description,
.explanation {
  font-size: 2em;
  position: relative;
  color: #333;
}