main,
header,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    justify-items: center;
    align-items: center;
    background-color: #444444;
    height: 100px;
    padding: 1em;
    justify-content: center;
}

.navitem,
.subnavitem {
    margin: 0;
    padding: 1em;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    color: #fff;
}

.navitem:hover,
.subnavitem:hover {
    background-color: #fff;
    color: #3e3e3e;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    visibility: hidden;
    position: absolute;
    background-color: #1b75bc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover>.dropdown-menu,
.dropdown-menu:hover {
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.dropdown:hover svg {
    transform: rotate(-90deg);
}

.w-6 {
    width: 1em;
    stroke-width: 3px;
    padding: 0 3px;
    margin: 4px 0;
}

.h-6 {
    height: 1em;
}