img {
    width: 4rem;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

.footer1 {
    background-color: #032f33;
    color: #fff;
    padding: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    align-items: center;
    margin: 5em 0;
}

.footer1 a {
    color: #fff;
    text-decoration: none;
}

.footer1 a:hover {
    text-decoration: underline;
}

.social-links1 {
    grid-column: 3;
    display: flex;
    justify-self: flex-end;
}

.footer2 {
    background-color: #3e3e3e;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5em 0;
}

.footer2 a {
    color: #fff;
    text-decoration: none;
}

.footer2 a:hover {
    text-decoration: underline;
}

.social-links2 {
    display: flex;
    justify-content: flex-end;
}