hr {
    border: 3px solid #0a5e66;
    margin: 2em 0;
}

header,
main,
footer {
    max-width: 50rem;
    margin: 0 auto;
}

/*  These rule is used on all 3 form examples */


form {
    max-width: 600px;
    display: grid;
}

label {
    grid-column: 1;
    justify-self: right;
}

input {
    grid-column: 2;
}

textarea {
    grid-column: 2;
}

button {
    width: 205px;
    background-color: #3e3e3e;
    color: #ffffff;
    padding: 1em;
    border-radius: 20px;
    justify-self: center;
    margin: 30px 0 0 0;
}

/* These are for the first form example  */
fieldset {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    grid-gap: 1em;
}

.field1-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 1em;
}


/*  These rules are for the second form example */
.form2 fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    border: 3px #dedede solid;
    border-radius: 25px;
}

.form2 legend {
    margin: 0 2em;
}




/*  These rules are used on the third form example */
.field3-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 1em;
}

.field3area-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    grid-gap: 1em;
}

.field3-grid label {
    justify-self: end;
}


/* Form-3 & Form-4 Grid Layout */
.grid-form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em 2em;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 10px;
}

.grid-form label {
    grid-column: 1;
}

.grid-form input {
    grid-column: 2;
    justify-self: left;
}

.grid-form input:nth-of-type(1) {
    grid-row: 1;
}

.grid-form input:nth-of-type(2) {
    grid-row: 2;
}

.grid-form input:nth-of-type(3) {
    grid-row: 3;
}

.grid-form input:nth-of-type(4) {
    grid-row: 4;
}

.grid-form input:nth-of-type(5) {
    grid-row: 5;
}

.grid-form input:nth-of-type(6) {
    grid-row: 6;
}

.grid-form legend,
.select legend {
    box-sizing: border-box;
    color: #3e0000;
    /* display: table; */
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

.select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 1em 0;
}

.select select {
    padding: .5em;
    border-radius: 10px;
}


/* Form-4 Block layout */
.block-fieldset {
    display: block;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
}

.block-fieldset legend {
    color: #3e0000;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

.block-fieldset label {
    display: inline-block;
    margin: 0 0 1em 0;
    vertical-align: top;
    width: 15%;
}

.block-fieldset input {
    margin: 0 0 1em 0;
    width: 80%
}

.block-fieldset textarea {
    margin: 0 0 1em 0;
}

.block-select {
    display: block;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
}

.block-select select {
    display: inline-block;
    padding: .5em;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

.block-select label {
    display: inline-block;
    margin: 0 0 1em 0;
    vertical-align: center;
}

.block-form {
    display: block;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
}

.block-form input {
    display: inline-block;
    padding: .5em;
    border-radius: 10px;
    margin: 0 0 1em 0;

    vertical-align: baseline;
}

.block-form label {
    display: inline-block;
    margin: 0 0 1em 0;
    vertical-align: baseline;
}

/* Form-4 Flex layout */
.flex-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
}

.flex-form .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em 0;
}

.field label {
    margin: 0 0 1em 0;
    vertical-align: top;
    flex: 1 0 25%;
    padding: 0 1em 0 0;
    text-align: right;
}

.field input {
    flex: 1 0 70%;
    padding: .5em;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

.field textarea {
    flex: 1 0 70%;
    padding: .5em;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

.flex-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em 0;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
}

.flex-select label {
    margin: 0 0 1em 0;
    vertical-align: top;
    flex: 1 0 25%;
    padding: 0 1em 0 0;
}

.flex-select select {
    flex: 1 0 30%;
    padding: .5em;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

.flex-form-checkbox {
    display: flex;
    flex-direction: column;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
}

.flex-form-checkbox .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em 0;
}

.flex-form-checkbox .field label {
    margin: 0 0 1em 0;
    vertical-align: top;
    flex: 1 1 auto;
    padding: 0 1em 0 0;
    text-align: left;
}

.flex-form-checkbox .field input {
    flex: 0 0 auto;
    padding: .5em;
    border-radius: 10px;
    margin: 0 1em 1em 0;
}