.checkmark li,
.checkmark2 li {
  display: flex;
  align-items: center;
  line-height: 1.5em;
  padding: .5em 0;
}

.checkmark li::before {
  content: url('../img/chckmark-16.webp');
  width: 1rem;
  height: 1rem;
  margin-right: .5em;
  display: inline-block;
  vertical-align: middle;
}

.checkmark2 li::before {
  content: url('../img/chckmark-32.webp');
  width: 2rem;
  height: 2rem;
  margin-right: .5em;
  display: inline-block;
  vertical-align: middle;
}