*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  height: 6em;
  background-color: #0a5e66;
  display: flex;
  align-items: center;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  width: 100%;

}

nav a {
  padding: 1em;
  color: #fff;
  letter-spacing: 1px;
  justify-self: center;
}

nav a:hover {
  background-color: #fff;
  color: #0a5e66;
}