* {
    box-sizing: border-box
}


.content {
    max-width: 1200px;
    margin: 0 auto;
}

.mySlides1,
.mySlides2 {
    display: none
}

img {
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides3,
.mySlides4 {
    display: none;
}


.slide-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

figure {
    grid-column: 1/11;
    grid-row: 1/6;
    z-index: -1;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0;

}

/* Caption text */
.text {
    color: #fa0303;
    font-size: 15px;
    padding: 8px 12px;
    justify-self: center;
    align-self: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f00a0a;
    font-size: 12px;
    padding: 8px 12px;
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
}

/* The dots/bullets/indicators */
.dot3,
.dot4 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-loc {
    text-align: center;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}