body {
    background-color: #dedfdf;
}



a {
    text-decoration: none;
}

header {
    height: 6em;
    background-color: #0a5e66;
    display: flex;
    align-items: center;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    width: 100%;
    margin: 3em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    /* This is a shorthand for align-items and justify-items */
    place-items: center;
    background-color: #0a5e66;
    color: #fff;
}

nav a {
    padding: 1em;
    color: #fff;
    letter-spacing: 1px;
    justify-self: center;
    display: flex;
}

nav a:hover {
    background-color: #fff;
    color: #0a5e66;
}

header,
main {
    max-width: 1200px;
    margin: 0 auto;
}

.icon,
.svg-icon {
    padding: 0 5px 0 0;
    width: 20px;
    height: 20px;
    align-self: center;
    stroke: #efefef;
    color: #fff;
}