:root {
  --primary-color: #0a5e66;
  --secondary-color: #fff;
  --text-color: #1e1a1a;

  --overlay-bg-color: rgba(56, 59, 103, 0.6);
  --article-bg-color: rgba(255, 255, 255, .35);
  --text-shadow-color: #000;
}


hr {
  border: none;
  height: 4px;
  background-color: var(--primary-color);
  margin: 5rem 0;
}


header,
main,
footer {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  background-color: var(--primary-color);
}

nav a {
  padding: 1em;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

nav a::before {
  content: unset;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/****************************************************
*
*   Absolute styling 
*
****************************************************/
.abs-hero {
  position: relative;
}

.abs-heading1 {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--overlay-bg-color);
  text-shadow: -1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color);
}

.abs-article {
  background-color: var(--article-bg-color);
  position: absolute;
  top: 6rem;
  left: 6rem;
  right: 6rem;
}

.abs-article img {
  float: right;
  margin: 2rem;
  width: 15rem;
}

.abs-article p {
  color: var(--text-color);
  font-size: x-large;
  text-align: center;
}


/****************************************************
*
*   flex styling 
*
****************************************************/
.flex-hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-hero img {
  width: 100%;
  height: auto;
}

.flex-heading1 {
  position: absolute;
  align-self: center;
  padding: 1em 3em;
  color: var(--secondary-color);
  background-color: var(--overlay-bg-color);
  text-shadow: -1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color);
}

.flex-article {
  background-color: var(--article-bg-color);
  position: absolute;
  margin: 10rem 6rem;
}

.flex-article img {
  float: right;
  margin: 2rem;
  width: 15rem;
}

.flex-article p {
  color: var(--text-color);
  font-size: x-large;
  text-align: center;
}

/****************************************************
*
*   grid styling 
*
****************************************************/

.grid-hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-hero img {
  grid-row: 1/6;
  grid-column: 1/-1;
  width: 100%;
  height: auto;
}

.grid-heading1 {
  grid-row: 1;
  grid-column: 1/-1;
  text-align: center;
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--overlay-bg-color);
  text-shadow: -1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color);
}

.grid-article {
  grid-column: 2/12;
  grid-row: 2/5;
  background-color: var(--article-bg-color);
  padding: 2rem
}

.grid-article img {
  float: right;
  margin: 2rem;
  width: 15rem;
}

.grid-article p {
  color: var(--text-color);
  font-size: x-large;
  text-align: center;
}