body {
  background-color: #fff;
  color: 000;
  font-size: 1.375rem;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
  padding: 0.25em;
  color: #0076b6;
}

img {
  max-width: 100%;
}

p {
  padding: 1rem 1.5rem;
} 

pre {
  background-color: #333;
  color: #fff;
  padding: 1em;
  white-space: nowrap;
}

code {

  display: block;
  overflow-x: auto;

}

footer {
  background-color: #333;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3em;
  font-size: .8em;
  padding: 1rem;
}