:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --heading-color: steelblue;
    --nav-background-color: #e6effa;
    --nav-hover-color: #021d38;
    --nav-hover-border-color: #03234a;
    --font-body: "Allerta", sans-serif;
    --font-heading: "Roboto Flex", sans-serif;
}

body {
    font-family: "Allerta", sans-serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-heading)
}

a {
    color: white;
    padding: 1em 3em;
}

h1 {
    color: steelblue;
}

img {
    width: 200px;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
}

main {
    max-width: 1200px;
}

aside {
    width: 300px;
    margin: 10px 20px;
    border: 1px solid #b71234;
    padding: 1em;
    background-color: none;
    color: #1a044e;
}

footer {
    background-color: steelblue;
    color: white;
}